{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["*.js"],
      "options": {
        "jsdocComments": true,
        "parser": "babel"
      }
    }
  ]
}
